<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= form_with(model: @event, local: true) do |form| %>

    <div calss="user_id">
        <%= form.hidden_field :user_id, value: current_user.id %>
    </div>

    <div class="title">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div class="time">
        <%= form.label :start_time %>
        <%= form.datetime_field :start_time %>
        <%= form.label :end_time %>
        <%= form.datetime_field :end_time %>
    </div>

    <div class="content">
        <%= form.label :content %>
        <%= form.text_field :content %>
    </div>


    <div class="submit">
        <%= form.submit "予定を制作"%>
    </div>

    <div class="select">

    </div>

<% end %>
</body>
</html>